<div class="columns head-section">
  <div class="column col-12">
    <div class="card">
      <div class="card-body">
        <h3>Search results for '{{ searchString }}' <span *ngIf="programEntryList.length > 0">({{ programEntryList.length }} results)</span></h3>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column col-12">
    <div class="search_table" *ngIf="programEntryList && programEntryList.length > 0">
      <table>
        <thead>
        <tr>
          <th>Channel &amp; Time</th>
          <th>Title</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of programEntryList">
          <td class="col_start_date"><span
            class="channel_label">{{ apiService.getChannelById(item.channel_id)?.title}}</span><br/>
            {{item.start_date_time | date:'d.MM.y - HH:mm:SS' }}<br/>
            <img
              *ngIf="item.image_links && item.image_links.length > 0"
              class="img-responsive img-fit-contain" src="{{item.image_links[0].url}}"/>
          </td>
          <td class="col_title" [innerHTML]="item.title | search:searchString"></td>
          <td class="col_description"
              [innerHTML]="item.description | readMore | search:searchString"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!programEntryList || programEntryList.length === 0" class="text-center m-2">
      <h3 *ngIf="isSearchInProgressIndicator && !isInErrors">Loading <app-spinner></app-spinner></h3>
      <h3 *ngIf="!isSearchInProgressIndicator && !isInErrors">Nothing found</h3>
      <h3 *ngIf="isInErrors">A request error occurred!</h3>
    </div>
  </div>
</div>
