**/target/
!.mvn/wrapper/maven-wrapper.jar

pom.xml.releaseBackup
release-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.ipr
*.iml

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

oer-collector-release-*
release/*.jar
release/LICENSE
release/THIRD-PARTY.txt
release-*.zip

server.log*
server-*.log*
collector.log*
collector-*.log*

*.hprof
