<div class="columns head-section">
  <div class="column col-12">
    <div class="card">
      <div class="card-body text-center">
        <h3>Credits</h3>
      </div>
    </div>
  </div>
</div>
<div class="columns content-section flex-centered credits">
  <div class="column col-6">
    <div class="card">
      <div class="card-body text-center">
        <p>
          <img src="assets/logo.png" alt="oerc logo" width="350"/><br/>
          This software is part of the <a href="https://github.com/emschu/oerc" title="emschu/oerc" target="_blank">oerc project</a>.<br/>
          Fetch, view and search TV program data of public-law stations in Germany, Switzerland and Austria.
        </p>
        <p>
          Please file <a href="https://github.com/emschu/oerc/issues" target="_blank">issues</a> on GitHub for bug reports or feature requests.
        </p>
        <p>
          <strong>License:</strong> AGPLv3 or later. Source code can be obtained <a href="https://github.com/emschu/oerc" target="_blank">here.</a><br/>
        </p>
        <p>
          <strong>Author:</strong> emschu<br/>
        </p>
        <p>
          <strong>Version:</strong> {{ appVersion }}<br/>
        </p>
      </div>
    </div>
  </div>
</div>
